body {
background-color: #F4F6F8
}

.search-container {
  display: flex;
  flex-direction: column;
  width: 65%;
  background-color: #FFFFFF;
  border: 1px solid #EFF0F1;
  box-shadow: 3px 3px 3px #EFF0F1;
  border-radius: 5px;
  padding: 20px;
  position: relative;
}

.fa-search {
  color: #8A949E;
  font-size: 20px;
  position: absolute;
  top: 42px;
  padding: 5px;
  margin-left: 10px;
}

.search-bar {
  height: 25px;
  margin: 5px;
}
